 $text-color-dark: #575a5d;
$text-color-light: #ffffff;

$heading-dark: #29282c;
$paragraph-light: #7e7a8c;

$button-purple: #3B6AC8;
$button-pink: #00ED85;

$bg-color: #0f1011;
$bg-color-light: #1d1e20;
$bg-white: #ffffff;
$bg-color-1: #29282c;

$border-color: #eaeaf4;

$header-nav-padding: 2.1rem;

$body-color: #00ED85; 