.h1-heading{
          
-webkit-animation:colorchange 20s infinite alternate;
        

}
  
@-webkit-keyframes colorchange {
0% {
          
color: #ffff;
 }
        
30% {
          
color: #00ED85;
}
        
        
40% {
          
color: #fff;
}

}